# Jetson Orin (JetPack 6.1 / Python 3.10)
# Install this torch wheel (includes CUDA build supporting Orin sm_87)
https://developer.nvidia.com/w/compute/redist/jp/v61/pytorch/torch-2.5.0a0+872d972e41.nv24.08.17622132-cp310-cp310-linux_aarch64.whl

datasets==2.21.0
transformers==4.44.2
accelerate==0.34.2
numpy==1.26.4
pillow==10.4.0
tqdm==4.66.5
requests==2.32.3
pycocotools==2.0.8
nltk==3.9.1
sentencepiece==0.2.0
scipy==1.13.1
matplotlib==3.9.2
git+https://github.com/salaniz/pycocoevalcap.git
